html {
    margin: auto;
    color: hotpink;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

header {
    margin: 20px;
    text-align: center;
    font-size: larger;
    height: 100px;
}

div {
    display: flex;
    justify-content: center;
}

h3 {
    color: rgba(137, 3, 190, 0.925);
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

h1,
h2 {
    text-decoration: underline;
    text-decoration-color: black;
    font-family: 'Anton', sans-serif;
}

i {
    color: hotpink;
    padding-right: 20px;
}

#main-title {
    color: white;
    text-decoration: underline;
    text-decoration-color: hotpink;
}

p {
    font-weight: bold;
    font-size: 18px;
}

#main-image {
    width: 1200px;
    height: 720px;
}

.container {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: 200px 200px 200px 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.img {
    background-image: url('../dj-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .grid {
    background-color: white;
    opacity: 0.8;
    margin: 10px 10px 10px 10px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.20s;
    border-radius: 10px;
    text-align: center;
}

.play {
    transform: scale(1.1);
    border-color: hotpink;
    box-shadow: 0 0 1rem hotpink;
}

footer {
    text-align: center;
    font-weight: bolder;
}